$primary: #39a900;
$primary-hover: #39a900;

//text
$text-ligth: #fff;

//background
$background-dark: #c8c8c8;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

//border
$border-grey: #808080;

//status
$success: #84b84c;
$error: #9f3a38;

//social color

$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
